* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
button {
  border: 0;
}
#container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  font-family: "Rubik", sans-serif;
}
.headerContainer {
  width: 100%;
  height: 37%;
  background-image: url("./images/pattern-bg.png");
  background-size: cover;
  background-position: center;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 25vh;
}
h2 {
  font-size: 1.5em;
  font-weight: 500;
  color: white;
  text-shadow: 0 0 2px hsl(0, 0%, 59%);
}
.inputContainer {
  position: relative;
  width: 90%;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .inputContainer {
    width: 40%;
  }
}
input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding-left: 25px;
  border-radius: 12px;
  border: 0;
  outline: none;
}

.inputIconContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  background-color: hsl(0, 0%, 17%);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.iconRight {
  width: 16;
  height: auto;
}
.dataInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 90%;
  height: 40vh;
  top: 27vh;
  background-color: white;
  border-radius: 12px;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .dataInfoContainer {
    flex-direction: row;
    align-items: initial;
    width: 80%;
    height: 20vh;
    z-index: 3;
  }
  .dataInfoContainer div {
    width: 25%;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
    z-index: 3;
  }
  #name::before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 50%;
    top: 25%;
    left: 25%;
    background-color: lightgray;
  }
  #place::before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 50%;
    top: 25%;
    left: 50%;
    background-color: lightgray;
  }
  #time::before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 50%;
    top: 25%;
    left: 75%;
    background-color: lightgray;
  }
}
h5 {
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  color: hsl(0, 0%, 59%);
  letter-spacing: 0.2em;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  h5 {
    text-align: left;
    margin-top: 5vh;
  }
}
.dataInfo {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: hsl(0, 0%, 17%);
  text-shadow: 0 0 1px hsl(0, 0%, 59%);
}
@media screen and (min-width: 768px) {
  .dataInfo {
    font-size: 1.2em;
    text-align: left;
    width: 75%;
  }
}
@media screen and (min-width: 1440px) {
  .dataInfo {
    font-size: 1.5em;
    text-align: left;
    width: 75%;
  }
}
.map {
  width: 100%;
  height: 65%;
  z-index: 1;
}
#mapid {
  width: 100%;
  height: 100%;
  z-index: 1;
}
